html,body{
  margin: 0;
  padding: 0;
}
.q_answerBox{
  width: 100%;
  //background-color: yellow;
  padding-top: 30px;
  .titleBox{
    width: 100%;
    //border-bottom: 1px solid rgb(231,231,231);
    .title{
      width: calc(100% - 60px);
      margin: auto;
      margin-top: 8px;
      font-size: 17px;
      font-weight: 900;
      -webkit-box-orient: vertical;
      color: #000000;
    }
  }
  .content{
    width: 100%;
    //border-bottom: 1px solid rgb(231,231,231);
    padding-top: 18px;
    .cenT{
      width: calc(100% - 60px);
      height: 106px;
      //background-color: pink;
      margin: auto;
      .word{
        width: 100%;
        //background-color: aquamarine;
        font-size: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: rgb(60,67,80);
        white-space: pre-wrap;
      }
      .time{
        width: 100%;
        height: 20px;
        //background-color: mediumvioletred;
        margin-top: 8px;
        text-align: right;
        font-size: 12px;
        color: rgb(140,149,159);
      }
    }

  }
}
.xq{
  width: 22px;
  height: 22px;
  margin-right: 20px;
  vertical-align: middle;
  margin-top: -5px;
}